<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Canales</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
	<div class="row">
		<div class="col-lg-12 col-sm-12">
			<p><br/>
				<alert-info message="{{alert.message}}" type="{{alert.type}}" show="alert.show"/>
			</p>
		</div>
	    <div class="col-lg-12 col-sm-12">
	        <div class="panel panel-default">
	            <div class="panel-heading">Registro</div>
	            <div class="panel-body">
	            	<form role="form">
		            	<div class="row">
		                    <div class="col-lg-2">
                                <label for="distinctive">Distintivo:</label>
                                <input class="form-control" id="distinctive" placeholder="Distintivo del canal" ng-model="channel.distinctive">
		                    </div>
		                    <div class="col-lg-4">
                                <label for="name">Nombre:</label>
                                <input class="form-control" id="name" placeholder="Nombre del canal" ng-model="channel.name">
		                    </div>
		                    <div class="col-lg-2">
                                <label for="virtualChannel">Canal Virtual:</label>
                                <input class="form-control" id="virtualChannel" placeholder="Canal virtual" ng-model="channel.virtualChannel">
		                    </div>
		                    <div class="col-lg-2">
                                <label for="physicChannel">Canal F&iacute;sico:</label>
                                <select id="physicChannel" class="form-control" ng-model="channel.physicChannel">
                                	<option ng-repeat="physicChannel in physicChannels" value="{{physicChannel.id}}">{{ physicChannel.name }}</option>
                                </select>
		                    </div>
		                    <div class="col-lg-2">
		                		<div class="form-group">
			                		<label for="quality">Calidad:</label>
			                		<select id="quality" class="form-control" ng-model="channel.quality">
			                			<option ng-repeat="quality in qualities" value="{{quality.id}}">{{quality.name}}</option>
			                		</select>
	                            </div>
		                	</div>
		                </div><!-- /.row (nested) -->
		                <div class="row">
		                	<div class="col-lg-2">
		                		<div class="form-group">
			                		<label for="resolution">Resolución:</label>
			                		<select id="resolution" class="form-control" ng-model="channel.resolution">
			                			<option ng-repeat="resolution in resolutions" value="{{resolution.id}}">{{resolution.name}}</option>
			                		</select>
	                            </div>
		                	</div>
		                	<div class="col-lg-2">
		                		<div class="form-group">
			                		<label for="power">Potencia:</label>
	                                <input class="form-control" id="power" placeholder="Potencia" ng-model="channel.power">
	                            </div>
		                	</div>
		                	<div class="col-lg-2">
		                		<div class="form-group">
			                		<label for="acesli">ACESLI:</label>
	                                <input class="form-control" id="acesli" placeholder="ACESLI" ng-model="channel.acesli">
	                            </div>
		                	</div>
		                	<div class="col-lg-2">
		                		<div class="form-group">
			                		<label for="longitude">Longitud:</label>
	                                <input class="form-control" id="longitude" placeholder="Longitud" ng-model="channel.longitude">
	                            </div>
		                	</div>
		                	<div class="col-lg-2">
		                		<div class="form-group">
			                		<label for="latitude">Latitud:</label>
	                                <input class="form-control" id="latitude" placeholder="Latitud" ng-model="channel.latitude">
	                            </div>
		                	</div>
		                	<div class="col-lg-2">
		                		<div class="form-group">
			                		<label for="channelBand">Banda:</label>
			                		<select id="channelBand" class="form-control" ng-model="selectedChannelBand">
			                			<option ng-repeat="channelBand in channelBands" value="{{channelBand.id}}">{{channelBand.name}}</option>
			                		</select>
	                            </div>
		                	</div>
		                </div>
		                <div class="row">
		                	<div class="col-lg-4">
		                		<div class="form-group">
			                		<label for="population">Población:</label>
			                		<select id="population" class="form-control" ng-model="selectedPopulation">
			                			<option ng-repeat="population in populations" value="{{population.id}}">{{population.name}}</option>
			                		</select>
	                            </div>
		                	</div>
		                	<div class="col-lg-4">
		                		<div class="form-group">
			                		<label for="concessionaire">Concesionaria:</label>
			                		<select id="concessionaire" class="form-control" ng-model="selectedConcessionaire">
			                			<option ng-repeat="concessionaire in concessionaires" value="{{concessionaire.id}}">{{concessionaire.name}}</option>
			                		</select>
	                            </div>
		                	</div>
		                	<div class="col-lg-4">
		                		<div class="form-group">
			                		<label for="concessionType">Tipo de concesi&oacute;n:</label>
			                		<select id="concessionType" class="form-control" ng-model="selectedConcessionType">
										<option ng-repeat="concessionType in concessionTypes" value="{{concessionType.id}}">{{concessionType.type}}</option>
			                		</select>
	                            </div>
		                	</div>
		                </div>
		                <div class="row">
		                	<div class="col-lg-12">
		                		<button type="reset" class="btn btn-default" ng-click="cancel()">Cancelar</button>
		                        <button type="submit" class="btn btn-primary" ng-click="save()">Guardar</button>
		                	</div>
		                </div>
	                </form>
	            </div>
	        </div>
	    </div>
	</div>
	<div class="row">
	    <div class="col-lg-12 col-sm-12">
	        <div class="panel panel-default">
	            <div class="panel-heading">Listado</div>
	            <div class="panel-body">
	            	<div class="dataTable_wrapper">
	            		<list-table collection="channels" columns="columns" update-fn="update" delete-fn="delete"/>
	                </div><!-- /.table-responsive -->
	            </div>
	        </div>
	    </div>
	</div>
</div>