<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Concesionarias</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
	<div class="col-lg-12 col-sm-12">
		<p><br/>
			<alert-info message="{{alert.message}}" type="{{alert.type}}" show="alert.show"/>
		</p>
	</div>
    <div class="col-lg-4 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">Registro</div>
            <div class="panel-body">
            	<div class="row">
                    <div class="col-lg-12">
                        <form role="form">
                            <div class="form-group">
                                <label for="concessionaireName">Nombre:</label>
                                <input class="form-control" id="concessionaireName" placeholder="Nombre de la concesionaria" ng-model="concessionaire.name">
                            </div>
                            <button type="reset" class="btn btn-default" ng-click="cancel()">Cancelar</button>
                            <button type="submit" class="btn btn-primary" ng-click="save()">Guardar</button>
                        </form>
                    </div>
                </div><!-- /.row (nested) -->
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">Listado</div>
            <div class="panel-body">
            	<div class="dataTable_wrapper">
            		<list-table collection="concessionaires" columns="columns" update-fn="update" delete-fn="delete" helper="queryHelper" query-fn="get" has-details="false"/>
                </div><!-- /.table-responsive -->
            </div>
        </div>
    </div>
</div>