<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Informaci&oacute;n general</h1>
        </div><!-- /.col-lg-12 -->
    </div><!-- /.row -->
    <div class="row">
        <stats number="32" comments="Estados" colour="primary" type="bank" goto="dashboard.state"></stats>
        <stats number="326" comments="Poblaciones" colour=red type="users" goto="dashboard.population"></stats>
        <stats number="107" comments="Concesionarias" colour="yellow" type="wifi" goto="dashboard.concessionaire"></stats>
        <stats number="25" comments="Canales" colour="green" type="video-camera" goto="dashboard.channel"></stats>
    </div>
    
    <!-- /.panel -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-map-marker fa-fw"></i> Mapa
                </div><!-- /.panel-heading -->
                <div class="panel-body">
                	<h2>Infraestrucutra TDT en el país</h2>
               	</div><!-- /.panel-body -->
            </div><!-- /.panel -->
        </div><!-- /.col-lg-12 -->
    </div><!-- /.row -->
</div>